@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Mate+SC&family=Mate:ital@0;1&family=Protest+Revolution&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

::-webkit-scrollbar {
  height: 0px;
  width: 0px;
  

}
/* ::-webkit-scrollbar {
  height: 7px;
  width: 7px;
  background-color: transparent;
  padding: 1px;
} */

/* 
::-webkit-scrollbar-button {
  background-color: transparent;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-track-piece {
  background-color: transparent;
} */


html{
    background-color: black;
}
